.table-cell {
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 150px;
  height: 100%;
  border: 1px solid #000000;
}

.sticky-body-cell {
  position: sticky;
  left: 0;
  top: 0;
  height: 25px;
}
