.table-cell {
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 150px;
  height: 100%;
  border: 1px solid #000000;
  background-color: #fafafa;
}

.sticky-body-cell {
  position: sticky;
  left: 0;
  height: 25px;
  width: 150px;
}

.selected-cell {
  background-color: lightgrey;
}

.delete-button {
  height: 20px;
  border-radius: 3px;
  margin-right: 10px;
}
